@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Walbaum";
  src: url("./assets/fonts/Walbaum60pt.ttf");
}

body {
  font-family: Walbaum, sans-serif;
  cursor: default;
  /*color: white;*/
}
